Flask
# 실시간 통신 라이브러리를 안정적인 버전으로 고정합니다.
Flask-SocketIO==5.3.6
python-engineio==4.8.0
python-socketio==5.8.0

# gevent가 WebSocket을 사용하기 위한 필수 라이브러리입니다.
gevent-websocket

google-cloud-speech
openai
python-dotenv
Flask-SQLAlchemy
gunicorn
gevent
pg8000
google-cloud-secret-manager
